@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   /*한글 볼드체*/
@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   /*한글 레귤러체*/
@font-face {
    font-family: 'Game Played Outline Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Game Played Outline Regular'), url('Game Played Outline.woff') format('woff');
    }   /*영어 폰트*/
@font-face {
    font-family: 'Game Played Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Game Played Regular'), url('Game Played.woff') format('woff');
    }   /*영어 아웃라인 폰트*/

    /*가운데 이미지가 좌우로 흔들리는 애니메이션*/
    @keyframes moving {
        0% {
            transform:rotate(-1.5deg);
        }
        50% {
            transform:rotate(1.5deg);
        }
        100% {
            transform:rotate(-1.5deg);
        }
    }

* {margin:0; padding:0;}
a {color: #fff; display:block; text-decoration: none;}
ul {margin:0; padding:0;}
li {list-style: none;}
html, body {font-family: 'EliceDigitalBaeum_Bold'; height:100%; overflow-x: hidden;}
header, section, footer {width:100%; float:left; box-sizing: border-box;}
div, ul, li {box-sizing: border-box;}
.wrap {width:100%;}
/*pc버전*/
header {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width:100%;
    padding:0.5vw;
    background-color: #f40000;
    position:fixed;
    top:3px;    /*슬라이드바가 뒤에 있기 때문에 크기만큼 내림*/
    left:0;
    z-index: 90;
}
header .logo {width:5vw;}
header .menu {
    width:45vw;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
header nav {
    width:45vw;
    margin-top:1vw;
}
/*주메뉴 펼치기*/
header nav > ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
header nav > ul > li {position:relative;}   /*자식객체 .sub에 position:absolute*/

header nav > ul > li > a {
    font-size:1.2vw;
    color:#fff;
    text-align: center;
    padding:0.5vw;
    padding-bottom:1.3vw;
    position:relative;  /*a:after에 position:absolute*/
    transition: all 0.5s;
}
/*주메뉴 밑줄 효과*/
header nav > ul > li > a:after {
    content:"";
    bottom:15px;
    left:0;
    width:0%;
    height:2px;
    background-color:#fff;
    transition:all 0.5s;
    position: absolute;
}
header nav > ul > li:hover a:after {width:100%;}
/*첫번째와 세번째 section에서는 주메뉴 색이 검정색*/
header nav > ul > li.active > a {
    color:#f40000;
}
/*서브메뉴*/
header nav .sub {
    width:12.5vw;
    background-color: #fff;
    position:absolute;
    left:10%;
    display:none;
}
/*주메뉴에 마우스 오버 시 서브메뉴 나타남*/
header nav > ul > li:hover .sub {display:block;}
header nav .sub li a {
    font-size:1vw;
    padding:1vw;
    color:#f40000;
    white-space: nowrap;
}
header nav .sub li a:hover {
    background-color: #f40000;
    color:#fff;
}
/*햄버거메뉴*/
header .menu-btn {
    position:relative;
    width:2.5vw;
    height:2.5vw;
    border-radius: 100%;
    background-color: #fff;
    border:none;
    margin-top:1vw;
    cursor: pointer;
    box-sizing: border-box;
    z-index:620;
}
header .menu-btn span {
    position:absolute;
    width:60%;
    height:0.2vw;
    background-color: #f40000;
    top:25%;
    margin:0 auto;
    margin-left:0.5vw;
    transition: all 0.5s;
    cursor: pointer;
    z-index:630;
}
header .menu-btn span:nth-child(2), header .menu-btn span:nth-child(3) {top:46%;}
header .menu-btn span:last-child {top:66%;}

header .menu-btn.active span:first-child {
    top:5%;
    opacity: 0;
    transition:ease-in-out 0.5s;
}
header .menu-btn.active span:nth-child(2) {
    top:46%;
    transform:rotate(-45deg);
    transition:ease-in-out 0.5s;
}
header .menu-btn.active span:nth-child(3) {
    top:46%;
    transform:rotate(45deg);
    transition:ease-in-out 0.5s;
}
header .menu-btn.active span:last-child {
    bottom:99%;
    opacity: 0;
    transition:ease-in-out 0.5s;
}
/*사이트맵*/
.sitemap {
    width:100vw;    /*접속한 기기의 가로크기를 100%로 잡음*/
    height:100vh;   /*접속한 기기의 세로크기를 100%로 잡음*/
    position:absolute;
    z-index: 600;
    /* display:none; */
    display:flex;
    flex-flow:row nowrap;
    background-color: #afc7de;
    
}
.sitemap .site-nav {
    width:75%;
}
.sitemap .site-nav > ul {
    display:flex;
    flex-flow:row wrap;
}
.sitemap .site-nav > ul > li {
    width:33.33%;
    height:50vh;
    background-color: #f40000;
    padding:5vw;
    border-right:1px solid rgba(255, 255, 255, 0.6);
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
    transition:all 0.5s;
}
.sitemap .site-nav > ul > li > a {
    font-size:1.7vw;
    padding-bottom: 1.5vw;
    position:relative;  /*직속자식객체 a:after에 position:absolute;*/
    display:inline-block;   /*a:after(밑줄)의 가로크기 조절*/
    transition:all 0.5s;
}
/*주메뉴 밑줄 효과*/
.sitemap .site-nav > ul > li > a:after {
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    background-color: #f40000;
    left:0;
    bottom: 1vw;
    transition:all 0.5s;
}
.sitemap .site-nav > ul >li:hover a {
    color:#fff;
}
.sitemap .site-nav > ul >li:hover > a:after {
    width:100%;
}
/*.sitemap의 메뉴영역에 마우스 오버했을 때 효과*/
.sitemap .site-nav > ul > li:hover {
    background-color: #fff;
}
.sitemap .site-nav > ul > li:hover a {
    color:#f40000;
}
.sitemap .site-nav > ul >li:hover .site-sub li a {
    opacity: 0.7;
}
.sitemap .site-nav > ul >li:hover .site-sub li a:hover {
    opacity: 1;
}
.sitemap .site-nav .site-sub li a {
    font-size:1vw;
    padding:0.5vw;
    padding-left:0;
    font-family: 'EliceDigitalBaeum_Regular';
    white-space: nowrap;
}
.sitemap .addr {
    width:25%;
    height:100vh;
    background-image: url(../IMG/sub-bg.png);
    background-position: -100px -140px;
    background-repeat: no-repeat;
    background-size:cover;
    color:#fff;
    padding:1vw;
}
.sitemap .addr .addr-in {
    position:absolute;
    bottom:5%;
}
.sitemap .addr h1 {
    font-size:2vw;
    line-height: 2vw;
    font-family: 'Game Played Regular';
}
.sitemap .addr p {
    line-height:1vw;
    font-size:1vw;
    padding:0.5vw;
}
.sitemap .addr .site-sns ul {
    display:flex;
    flex-flow:row nowrap;
    margin-top:1.2vw;
}
.sitemap .addr .site-sns ul li {
    width:3vw;
    margin:0.7vw 0;
    margin-left:0;
}
.sitemap .addr .site-sns ul li a {
    width:3vw;
    height:3vh;
    background-image: url(../IMG/sns-1.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
.sitemap .addr .site-sns ul li:nth-child(2) a {
    background-image: url(../IMG/sns-2.png);
}
.sitemap .addr .site-sns ul li:last-child a {
    background-image: url(../IMG/sns-3.png);
}
/* .sitemap .site-close{
    position:absolute;
    right:2vw;
    top:2vw;
    width:3vw;
} */
section h1 {
    text-align: center;
    font-size: 4vw;
    color:#f40000;
    margin-top:3vw;
}

/*메인 슬라이드*/
.main {
    width:100vw;
    height:100vh;
    position:relative;  /*화면 오른쪽 아이콘이 slide 영역과 겹침*/
}
.main .slide {
    width:100vw;
    height:100vh;
    position:relative;  /*center-img와 bottom-btn영역 겹침*/
    background-color:#f40000;
    overflow:hidden;
}
.main .slide .fp-tableCell {
    display:flex;
    flex-flow:row nowrap;
}
.main .slide .left-img, .main .slide .right-text {
    width:50vw;
    height:100vh;
    position:relative;
}
.main .slide .left-img > div {
    position:absolute;
    width:100%;
    height:100vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
.main .slide .left-img .p1 {
    background-image: url(../IMG/main-1-L.png);
}
.main .slide .left-img .p2 {
    background-image: url(../IMG/main-2-L.png);
}
.main .slide .left-img .p3 {
    background-image: url(../IMG/main-3-L.png);
}
.main .slide .center-img {
    width:5vw;
    position:absolute;
    left:45%;
    margin-left:-5vw;
    top:40%;
    z-index:10;
}
.main .slide .center-img > div {
    position:absolute;
    animation: moving 2s ease infinite;
}

.main .slide .right-txt > div {
    position:absolute;
    width:100%;
    height:50vh;
    top:50%;
    margin-top:-25vh;
    padding:0 10vw;
    color:#fff;
    font-family: 'Game Played Regular';
}
.main .slide .right-txt .txt .txt-wrap {
    width:100%;
    height:6.5vh;
    overflow: hidden;
}
.main .slide .right-txt .txt .txt-wrap:nth-child(3) {height:10vh;}
.main .slide .right-txt .txt .txt-wrap span {
    margin-top:-10vh;
    display:block;
    transition:all 0.5s;
}
/*슬라이드 오른쪽 글자 중 1번째*/
.main .slide .right-txt .txt .txt1 {
    font-size:1.5vw;
    line-height: 3vw;
}
/*슬라이드 오른쪽 글자 중 2번째*/
.main .slide .right-txt .txt .txt2 {
    font-size:4vw;
    line-height: 2.7vw;
    font-family: 'Game Played Outline Regular';
}
/*2번째 슬라이드 오른쪽 글자 중 2번째*/
.main .slide .right-txt .txt:nth-child(2) .txt2 {
    font-size:3.5vw;
    line-height: 3vw;
    font-family: 'Game Played Outline Regular';
}

/*슬라이드 오른쪽 글자 중 3번째*/
.main .slide .right-txt .txt .txt3 {
    font-size:5.5vw;
    line-height: 5.5vw;
    font-family: 'Game Played Regular';
}
/*2번째 슬라이드 오른쪽 글자 중 3번째*/
.main .slide .right-txt .txt:nth-child(2) .txt3 {
    font-size:4.7vw;
    line-height: 4.7vw;
    font-family: 'Game Played Regular';
}
/*3번째 슬라이드 오른쪽 글자 중 3번째*/
.main .slide .right-txt .txt:last-child .txt3 {
    font-size:4.6vw;
    line-height: 4.6vw;
    font-family: 'Game Played Regular';
}
/*슬라이드 오른쪽 글자 중 4번째*/
.main .slide .right-txt .txt .txt4 {
    font-size:1vw;
    line-height: 4vw;
    font-family: 'EliceDigitalBaeum_Regular';
}
/*슬라이드 오른쪽 글자 애니메이션 active 설정*/
.main .slide .right-txt .txt .ani01 span {transition-delay: 0.1s;}
.main .slide .right-txt .txt .ani02 span {transition-delay: 0.4s;}
.main .slide .right-txt .txt .ani03 span {transition-delay: 0.7s;}
.main .slide .right-txt .txt.active span {
    margin-top:0;
    transition:all 0.5 ease-in-out;
}
.main .slide .right-txt .txt .more-btn {
    transition:ease-in-out 0.5s;
    opacity: 0;
    transition-delay: 0.4s;
}
.main .slide .right-txt .txt.active .more-btn {
    opacity: 1;
}
/*메인 더보기 버튼*/
.more-btn {
    width:14vw;
    display:inline-block;
    background-color:#fff;
    border-radius: 50px;
    transition:ease-in-out 0.5s;
    position:absolute;
    right:73%;
    bottom:5%;
    border:3px solid #fff;
}
.more-btn a {
    display:flex;
    flex-flow:row nowrap;
}
.more-btn a:hover {
    box-shadow: inset 14vw 0 0 0 #f40000;
    border-radius: 50px;
    transition:ease-in-out 0.5s;
}
.more-btn a:hover p {
    color:#fff;
    transition:all 0.5s;
}
.more-btn a p {
    color:#f40000;
    text-align: center;
    font-size:1.5vw;
    white-space: nowrap;
    line-height:2.5vw;
    margin:0.5vw;
    margin-left:0.8vw;
    transition:ease-in-out 0.5s;
    font-family: 'Game Played Regular';
}
.main .slide-bar {
    position:absolute;
    width:100%;
    height:3px;
    background-color:#fff;
    top:0;
    left:0;
    z-index:12;
}
.main .slide-bar .bar {
    width:0;
    height:3px;
    background-color:#f0cf00;
}
.main .bottom-btn {
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    z-index:15;
}
.main .bottom-btn .prev-btn, .main .bottom-btn .next-btn{
    width:200px;
    height:100px;
    background-color:transparent;
    border:none;
    text-indent: -9999px;   /*들여쓰기*/
    color:#fff;
    cursor: pointer;
}
.main .bottom-btn .prev-btn {
    background-image:url(../IMG/prev-btn.png)
}
.main .bottom-btn .next-btn {
    background-image:url(../IMG/next-btn.png)
}
.main .bottom-btn .number {
    width:100px;
    height:100px;
    position:absolute;
    bottom:60px;
    left:50%;
    transform: translateX(-50%);
}
.main .bottom-btn .number a {
    color:#fff;
    background-color: #f40000;
    width:100px;
    height:100px;
    border-radius: 100%;
    font-size:2.2vw;
    border:5px solid #fff;
    text-align: center;
    line-height: 5vw;
    position:absolute;
    font-family: 'Game Played Regular';
}
.main-icon {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:3vw;
    z-index:10;
}
.main-icon ul li {
    margin:12px 0;
}
.main-icon ul li a {
    font-size: 0.6vw;
    color:#fff;
    white-space: nowrap;
    text-align: center;
}
.main-icon ul li a span {
    display:block;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding:1vw;
    margin:0.5vw;
    width:1.5vw;
    height:1.5vw;
    transition:all 0.5s;
    background-position:center;
    background-size:50%;
    background-repeat: no-repeat;
    background-image: url(../IMG/icon1.png);
    box-shadow:7px 7px 7px rgba(0, 0, 0, 0.2);
}
.main-icon ul li:nth-child(2) a span {background-size:40%; background-image: url(../IMG/icon2.png);}
.main-icon ul li:nth-child(3) a span {background-image: url(../IMG/icon3.png);}
.main-icon ul li:last-child a span {background-image: url(../IMG/icon4.png);}

.main-icon ul li:hover a span {
    background-color: #f0cf00;
}
/*메뉴*/
.box-wrap {
    display:flex;
    justify-content: space-around;
}
.box {
    width:90vw;
    height:80vh;
    margin:0 auto;
    margin-top:3vw;
    position:relative;
    overflow: hidden;
}
.box ul {
    width:180vw;
    display:flex;
    position:absolute;
    left:0;
    flex-flow:row nowrap;
    justify-content: space-between;
}
.box ul li {position:relative;} /*자식객체 .box-txt가 absolute임*/
.box ul li:nth-child(2),
.box ul li:nth-child(5) {
    margin-top:10vw; /*가운데 객체 아래로 떨어짐*/
}
.box ul li .box-img {
    width:20vw;
    height:20vh;
    position:relative;  /*자식객체인 .box-move가 absolute;*/
}
.box ul li .box-img .box-hover {
    width:100%;
    height:100%;
}
.box ul li .box-img .box-hover .box-circle {
    width:100%;
    height:100%;
    background-image:url(../IMG/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0,0);
    transition: all 0.5s ease-in-out;
}
.box ul li .box-img .box-hover:hover .box-circle {transform:scale(1,1);}
.box ul li .box-img .box-hover .box-in {
    position: absolute;
    width:18vw;
    height:18vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.box ul li .box-img .box-hover .box-move {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width:18vw;
    height:18vw;
}
.box ul li .box-img .box-hover .m1 {
    background-image: url(../IMG/berryinter.png);
}
.box ul li .box-img .box-hover .m2 {
    background-image: url(../IMG/stberry-ex.png);
}
.box ul li .box-img .box-hover .m3 {
    background-image: url(../IMG/applekale.png);
}
.box ul li .box-img .box-hover .m4 {
    background-image: url(../IMG/pinacolada.png);
}
.box ul li .box-img .box-hover .m5 {
    background-image: url(../IMG/angelfood.png);
}
.box ul li .box-img .box-hover .m6 {
    background-image: url(../IMG/chocobanana.png);
}
.box ul li .box-img .box-hover .box-move .box-fade {
    opacity: 0;
    transition:all 0.5s;
}
.box ul li .box-img .box-hover:hover .box-move .box-fade {opacity: 1;}
.box ul li:nth-child(2) .box-img .box-hover .box-move .box-fade {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../IMG/st-effect.png);
}
.box ul li .box-txt {
    position:absolute;
    top:50%;
    left:75%;
    width:20vw;
    transform:translateY(-50%);
}
section h4 {
    text-align: left;
    font-size:1.5vw;
    color:#181d32;
    font-family: 'EliceDigitalBaeum_Bold';
    margin-bottom:1vw;
    white-space: nowrap;
}
section p {
    text-align: left;
    font-size: 0.8vw;
    color:#181d32;
    font-family: 'EliceDigitalBaeum_Regular';
    white-space: nowrap;
}
.box-btn-wrap {
    width:100%;
    float:left;
}
.box-btn {
    width:4vw;
    height:4vw;
    background-image: url(../IMG/arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size:cover;
    text-indent: -9999px;
    /* margin-bottom:26vw; */
    margin-top: 26vh;
}
.box-btn a {height:100%;}
.mo-box-wrap {display: none;}
/*퀵메뉴*/
.quick-wrap {
    width:100vw;
    height:100vh;
    display:flex;
    flex-flow: row nowrap;
}
.quick-wrap .quick {
    width: 33.3333%;
    position:relative;
    background-image: url(../IMG/event.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}
.quick-wrap .p1 {background-image: url(../IMG/event.png);}
.quick-wrap .p2 {background-image: url(../IMG/d43f646f21c9f3ca21dd0509_rw_3840.jpg);}
.quick-wrap .p3 {background-image: url(../IMG/delivery-bg.jpg);}
.quick-wrap .rect {
    background-color:rgba(0, 0, 0, 0.7);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.2;
    transition:all 0.5s ease-in-out;
}
.quick-wrap .quick:hover .rect {opacity:0.7; transition:all 0.5s ease-in-out;}

.quick-wrap .quick .quick-txt {
    color:#fff;
    text-align: center;
    position:absolute;  /*rect가 글씨를 덮는 것을 방지함*/
    top:10vw;
    width:100%;
}
.quick-wrap .quick .quick-txt h1 {
    font-family: 'Game Played Regular';
    font-size:6vw;
    padding:2vw;
    color:#fff;
    text-align: center;
}
.quick-wrap .quick .quick-txt p {
    font-size: 1.5vw;
    font-family: 'EliceDigitalBaeum_Regular';
    color:#fff;
    text-align: center;
}

/*가맹점*/
.with {
    display: flex;
    flex-flow:row nowrap;
    width:80vw;
}
.with .with-txt {
    width:60vw;
}
.with .with-txt h1 {
    font-size: 3.8vw;
    text-align: left;
    font-family: 'Game Played Outline Regular';
    margin: 1vw 3vw;
    color:#f40000;
}
.with .with-txt h1:nth-child(2) {
    font-family: 'Game Played Regular';
}
.with .with-txt p {
    color:#181d32;
    font-family: 'EliceDigitalBaeum_Regular';
    font-size:1.5vw;
    margin:2vw 3vw;
}
.with .with-img-in {
    width:50vw;
    position:relative;
}
.with .with-img {
    position:absolute;
}
.with .with-bg {
    position:absolute;
    right:-10vw;
    bottom:-15vw;
    width: 30vw;
    height:20vw;
    background-color: #f40000;
}
.with .with-txt .more-btn {
    width:14vw;
    display:inline-block;
    background-color:#fff;
    border-radius: 50px;
    transition:ease-in-out 0.5s;
    position:absolute;
    right:73%;
    bottom:15%;
    border:3px solid #f40000;
}
.with .with-txt .more-btn a {
    display:flex;
    flex-flow:row nowrap;
}
.with .with-txt .more-btn a:hover {
    border-radius: 50px;
    transition:ease-in-out 0.5s;
}
.with .with-txt .more-btn a:hover p {
    color:#fff;
    transition:all 0.5s;
}
.with .with-txt .more-btn a p {
    color:#f40000;
    text-align: center;
    font-size:1.5vw;
    white-space: nowrap;
    line-height:2.5vw;
    margin:0.5vw;
    margin-left:0.8vw;
    transition:ease-in-out 0.5s;
    font-family: 'Game Played Regular';
}
.mo-with {display:none;}
/*footer*/
footer {
    width:100%;
    height:80%;
    background-color:#f40000;
    padding:3vw;
}
footer .ft-logo {
    width:10vw;
    height:10vw;
    margin:0 auto;
    background-image: url(../IMG/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
footer address {
    color:#fff;
    font-size:0.8vw;
    text-align:center;
    font-style:normal;
}
footer p {
    color:#fff;
    font-size:0.8vw;
    text-align:center;
    margin:5vw 0;
}
footer .sns-list {
    margin:0 auto;
    width:10vw;
    margin-top:3vw;
}
footer .sns-list ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
footer .sns-list ul li {width:2vw;}
footer .sns-list ul li a {
    width:2.5vw;
    height:2.5vw;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
footer .sns-list ul li:first-child a {background-image: url(../IMG/sns-1.png);}
footer .sns-list ul li:nth-child(2) a {background-image: url(../IMG/sns-2.png);}
footer .sns-list ul li:last-child a {background-image: url(../IMG/sns-3.png);}

/*fullpage의 navigation 스타일 지정*/
#fp-nav ul li a span {
    width:10px;
    height:10px;
    border:2px solid #fff;
    border-radius: 100%;
    background-color:transparent;
    margin:-5px 0 0 -5px;
}
#fp-nav ul li a.active span {
    width:10px;
    height:10px;
    border:2px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    margin:-4px 0 0 -4px;
}
/*5번째 네비게이션 안보임*/
#fp-nav ul li:last-child {
    display:none;
}
#fp-nav ul li:nth-child(even) a.active span {
    border:2px solid #f40000;
    background-color: #f40000;
}
#fp-nav ul li:nth-child(even) .fp-tooltip {
    color:#f40000;
}
/*마지막 footer에서는 navigation 안보임*/
.fp-viewing-4 #fp-nav {display:none;}
.mo_menu {display:none;}


/*노트북 버전*/
@media screen and (max-width:1600px){

}

/*태블릿 버전*/
@media screen and (max-width:1280px){
    
}

/*모바일 버전*/
@media screen and (max-width:480px){
    header {
        position:absolute;
        top:0;
    }
    header .logo {
        width:10vw;
        margin:2vw;
    }
    header .menu {
        justify-content: flex-end;
    }
    section {position:absolute; z-index: 1;}
    section h1 {
        margin: 10vw 0;
        font-size:7.7vw;
    }
    .main {
        height:80vh;
    }
    .main .slide {
        height:80vh;
    }
    .main .slide .left-img, .main .slide .right-txt {
        width:100vw;
        height:80vh;
        position:absolute;
        left:0; top:0;
    }
    .main .slide .left-img {
        width:300vw;
        position:relative;
    }
    .main .slide .left-img:after {
        content: "";
        background-color:rgba(0, 0, 0, 0.3);
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .main .slide .left-img > div {
        width:100vw;
        height:80vh;
        position:relative;
        float:left;
    }
    .main .slide .right-txt {
        z-index:55;
    }
    .main .slide .right-txt .txt .txt1 {
        font-size:4vw;
        line-height: 15vw;
    }
    .main .slide .right-txt .txt .txt2 {
        font-size:10vw;
        line-height: 9vw;
    }
    .main .slide .right-txt .txt .txt3 {
        font-size:15vw;
        line-height: 10vw;
    }
    .main .slide .right-txt .txt .txt4 {
        font-size:4vw;
        line-height: 4vw;
        color:#f40000;
        font-family: 'EliceDigitalBaeum_Bold';
    }
    .main .slide .right-txt .txt .ani01 span {transition-delay: 0.1s;}
    .main .slide .right-txt .txt .ani02 span {transition-delay: 0.3s;}
    .main .slide .right-txt .txt .ani03 span {transition-delay: 0.5s;}
    .main .slide .center-img {
        width:300vw;
        margin-left:0;
        top:60%;
        right:-30vw;
        margin-top:0;
    }
    .main .slide .center-img .small {
        width:100vw;
        position:relative;
        float:left;
        right:-50vw;
    }
    .main .slide .center-img .small img {
        width:45vw;
    }
    .main .slide-bar, .main-icon {display:none;}
    .main .slide .more-btn {display:none;}
    .main .bottom-btn {
        left:0;
        transform:translateX(0);
        z-index: 60;
    }
    .main .bottom-btn .prev-btn, .main .bottom-btn .next-btn {
        width:60px;
        height:60px;
        opacity: 1;
    }
    .main .bottom-btn .prev-btn {
        background-image:url(../IMG/mo-prev-btn.png);
    }
    .main .bottom-btn .next-btn {
        background-image: url(../IMG/mo-next-btn.png);
    }
    .main .bottom-btn .number {
        width:200px;
        left:50%;
        top:-360%;
        transform:translateX(0);
    }
    .main .bottom-btn .number a {
        width:60px;
        height:60px;
        position:relative;
        float:left;
        font-size:7vw;
        line-height:11vw;
        background-color:transparent;
        border:2px dotted transparent;
        text-indent: -20px;
    }
    .main .bottom-btn .number a::first-letter {
        color:transparent;
    }
    .main .bottom-btn .number a.active {
        border:2.5px dotted #f40000;
        color:#f40000;
    }
    /*pc버전 사이트맵 숨김*/
    .sitemap {display: none;}
    /*모바일버전 sitemap은 햄버거메뉴 클릭하면 나타남*/
    .mo-menu {
        position:absolute;
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        z-index:200;
        background-color: #f40000;
        padding:5vw;
    }
    .mo-menu .mo-logo {
        width:25vw;
        margin-bottom:5vw;
    }
    .mo-menu .mo-nav ul li {
        border-bottom:1px solid rgba(255, 255, 255, 0.6);
    }
    .mo-menu .mo-nav ul li:last-child {border-bottom:none;}
    .mo-menu .mo-nav ul li a {
        color:#fff;
        padding:4vw;
        font-size:5vw;
    }
    /*주메뉴 active 설정*/
    .mo-menu .mo-nav > ul > li.active > a {
        color:#f0cf00;
    }
    /*mo-nav 서브메뉴*/
    .mo-menu .mo-nav .sub {
        display:flex;
        flex-flow: row wrap;
    }
    .mo-menu .mo-nav .sub li {
        border-bottom: none;
    }
    .mo-menu .mo-nav .sub li a {
        font-size: 1.4vw;
        white-space: nowrap;
        padding:2.5vw;
        opacity: 0.8;
    }
    .mo-menu .mo-icon {
        margin-top:5vw;
    }
    .mo-menu .mo-icon ul {
        display:flex;
        flex-flow: row nowrap;
    }
    .mo-menu .mo-icon ul li a {
        /* width:15vw; */
        padding:4vw;
        border:1px solid rgba(255, 255, 255, 0.6);
        border-right:none;
        font-size:2.3vw;
        text-align: center;
        /* float:left; */
        white-space: nowrap;
    }
    .mo-menu .mo-icon ul li:last-child {
        border-right:1px solid rgba(255, 255, 255, 0.6);
    }
    .mo-menu .mo-icon ul li a span {
        margin-bottom: 2vw;
        text-align: center;
        width:20vw;
        overflow: hidden;
    }
    .mo-menu .mo-icon img {
        width:10vw;
        height:10vw;
        text-align: center;
    }
    .mo-menu address {
        color:#fff;
        font-size:4vw;
        margin-top:5vw;
        line-height:3vw;
        font-style: normal;
    }
    .mo-menu address div {
        width:100%;
        display:flex;
        flex-flow:row nowrap;
        /* float:left; */
        margin-top:3vw;
    }
    .mo-menu address h2 {
        font-family: 'Game Played Regular';
        font-size:4.5vw;
        margin: 0 3vw;
    }
    .mo-menu address p {
        font-size:3vw;
        margin: 0 3vw;
    }
    .mo-menu address p:last-child {
        float:left;
    }
    .mo-menu .mo-sns {
        margin-top:5vw;
    }
    .mo-menu .mo-sns ul {
        display:flex;
        flex-flow:row nowrap;
    }
    .mo-menu .mo-sns ul li {
        margin-right:3vw;
        width:5vw;
    }
    .mo-menu .mo-sns ul li img {
        width:5vw;
    }
    /*메뉴 모바일버전*/
    .box-wrap {display:none;}
    .mo-box-wrap {display:block;}
    .mo-box-wrap .mo-box {
        width:100%;
        height:90vh;
        position:relative;
    }
    .mo-box-wrap .mo-box ul {
        position:absolute;
        width:300vw;
        display:flex;
    }
    .mo-box-wrap .mo-box ul li {
        width:100vw;
        padding:5vw;
    }
    .mo-box-wrap .mo-box ul li a {
        display:flex;
        margin:10vw 0;
        width:100%;
        float:left;
    }
    .mo-box-wrap .mo-box ul li a > div {
        width:50vw;
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .box-move {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        width:46vw;
        height:46vw;
        animation: moving 2s ease infinite;
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .m1 {
        background-image: url(../IMG/berr-int.png);
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .m2 {
        background-image: url(../IMG/stex.png);
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .m3 {
        background-image: url(../IMG/appka.png);
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .m4 {
        background-image: url(../IMG/pina.png);
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .m5 {
        background-image: url(../IMG/anfoo.png);
    }
    .mo-box-wrap .mo-box ul li .box-img .box-hover .m6 {
        background-image: url(../IMG/choco.png);
    }
    .mo-box-wrap .mo-box ul li .box-txt {
        padding:4vw;
    }
    .mo-box-wrap .mo-box ul li .box-txt h4 {
        font-size: 6vw;
        margin-bottom: 2vw;
    }
    .mo-box-wrap .mo-box ul li .box-txt p {
        font-size:3vw;
        margin-bottom: 1vw;
    }
    .quick-wrap {
        flex-flow: row wrap;
    }
    .quick-wrap .quick {
        width:100%;
    }
    .quick-wrap .rect {
        opacity: 0.5;
    }
    .quick-wrap .quick .quick-txt {
        width:100%;
    }
    .quick-wrap .quick .quick-txt h1 {
        margin: 5vw 0;
        font-size:10vw;
    }
    .quick-wrap .quick .quick-txt p {
        font-size: 4vw;
        margin-bottom:3vw;
    }
    /*with*/
    /* .with {display:none;} */
    .with {
        flex-flow: row wrap;
        width:100%;
        /* height:90vh; */
    }
    .with .with-txt {
        width:100%;
        height:25vh;
        margin:0 auto;
        margin-top:18vw;
    }
    .with .with-txt h1 {
        font-size: 8vw;
        margin-bottom:10vw;
        margin:0 auto;
        text-align: center;
    }
    .with .with-txt p {
        font-size: 3vw;
        text-align: center;
    }
    .with .with-img-in {
        width:100%;
        height:60vh;
    }
    .with .with-img-in .with-bg {
        width:50vw;
        height:40vw;
        top:20vh;
    }
    .with .with-img-in .with-img {
        width:90vw;
        margin:0 auto;
        text-align: center;
    }
    .with .with-img-in .with-img img {
        width:90vw;
        margin:0 auto;
        text-align: center;
    }
    .more-btn {
        width:37vw;
        height:9vw;
        margin:0 auto;
        margin-bottom: 15vw;
        text-align: center;
        position: static;
        border:3px solid #f40000;
        border-radius: 50px;
    }
    .more-btn a {text-align: center;}
    .more-btn a p {
        font-size:4vw;
        line-height:7vw;
        text-align: center;
    }
    .footer {
        width:100%;
        margin-top:10vh;
        float:left;
    }
    /* .footer .site-info ul {
        display:flex;
        flex-flow:row nowrap;
        float:left;
    } */
    .footer .site-info ul li {
        display:flex;
        flex-flow:row nowrap;
        float:left;
        border: 2px solid #fff;
    }
    .footer .site-info ul li a {
        padding:2vw;
        float:left;
    }
}